# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
awvevn/
.env
.venv
env/
venv/
ENV/

# Logs
logs/
*.log

# Distribution / packaging
*.egg-info/
.installed.cfg
*.egg
dist/
build/

# Jupyter
.ipynb_checkpoints

# catboost junk
catboost_info/

# AWS artifacts (keep model.pkl and proprocessor.pkl, ignore csvs if needed)
# artifacts/   <- don't ignore this, model needs to be there